<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TMS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="text-center">
      {% if projects %}
      {% for project in projects %}
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan ex quis enim luctus sodales.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                  <div class="row">
                    <div class="col-sm-4">
                      <form action="{% url 'supervisor:manageproject' %}" method="get">
                         <input type="hidden" name="project_id" value="{{ project.id }}">
                         <input type="submit" class="btn btn-primary" name = "manage_project" value="Manage Project">
                      </form>
                    </div>
                    <div class="col-sm-4">
                      <form action="{% url 'supervisor:get_emp_summaries' %}" method="get">
                         <input type="hidden" name="project_id" value="{{ project.id }}">
                         <input type="submit" class="btn btn-primary" name="get_emp_summaries" value="Generate Summaries">
                      </form>
                    </div>
                    <div class="col-sm-4">
                      <form action="{% url 'supervisor:get_timesheets' %}" method="get">
                         <input type="hidden" name="project_id" value="{{ project.id }}">
                         <input type="submit" class="btn btn-primary" name="get_timesheets" value="Get Timesheets">
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      {%endfor%}

      {%else%}
        <h2>You are not in any project currently</h2>
      {%endif%}
      <br>
      <a href="{% url 'supervisor:logout' %}">Logout</a>
    </body>
</html>
