<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TMS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="text-center">
      <h2>Your time sheets</h2>
        {%if error%}
          <h2>{{error}}</h2>
        {%endif%}

        {% if timesheets %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Timesheet #</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Project</th>
                <th scope="col">Date</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
              </tr>
              {% for timesheet in timesheets %}
              <form action="" method="get">
                <tr>
                  <td name="timesheet_id">{{timesheet.id}}</td>
                  <td name="emp_name">{{timesheet.emp_name}}</td>
                  <td name="project_name">{{ timesheet.project }}</td>
                  <td name="date"> {{ timesheet.date|date:"Y-m-d" }}</td>
                  <td name="from">{{timesheet.start_time|time:"h:i"}}</td>
                  <td name="to">{{ timesheet.end_time|time:"h:i" }}</td>
                  <input type="hidden" name="timesheet_id" value="{{timesheet.id}}">
                </tr>
              </form>
              {%endfor%}
            </thead>
          </table>
        {% else %}
          <h2>You donot have any time sheets available to view</h2>
        {% endif %}
        <br>
        <a href="{% url 'accounts:logout' %}">Logout</a>
    </body>
  </html>
