<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TMS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <h1>Add new timesheet</h1>

    {% if error %}
        {{error}}
    {% endif %}
    <h1>Adding timesheet for {{project}}</h1>
    <form action="{% url 'accounts:addtimesheet' %}" method="post"  >
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next", value={{request.GET.next}}>
        {% endif %}
        <input type="hidden" name="project_id" value='{{project.id}}'>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">Date</label>
          <div class="col-md-3">
            <input type="date" class="form-control" name="date" id="inputEmail3" placeholder="Date">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">From</label>
          <div class="col-md-3">
            <input type="time" class="form-control" name="from" id="inputEmail3" placeholder="From">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-md-3 col-form-label">To</label>
          <div class="col-md-3">
            <input type="time" class="form-control" name="to" id="inputEmail3" placeholder="To">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">Add Timesheet</button>
          </div>
        </div>
        <!-- Date : <input type="date" name="date">
        From : <input name="from" type="time">
        To   : <input name="to" type="time">
        <input type="submit" name="Add Timesheet"> -->
    </form>
    <br>
    <a href="{% url 'accounts:logout' %}">Logout</a>
  </body>
</html>
