<h1>Add new timesheet</h1>

{% if error %}
    {{error}}
{% endif %}
Adding timesheet for {{project_name}}
<form action="{% url 'accounts:addtimesheet' %}" method="post">
    {% csrf_token %}
    {% if request.GET.next %}
        <input type="hidden" name="next", value={{request.GET.next}}>
    {% endif %}
    {{request.user.username}} <br>
    <input type="hidden" name="project_name" value='{{project_name}}'>
    Date : <input type="date" name="date">
    From : <input name="from" type="time">
    To   : <input name="to" type="time">
    <input type="submit" name="Add Timesheet">
</form>
<br>
<a href="{% url 'accounts:logout' %}">Logout</a>